
body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #f7f8fc,
        #eef2ff
    );
}

/* ---------- HEADER ---------- */

.main-title{
    font-size:4rem;
    font-weight:800;
    color:#1e225c;
}

.subtitle{
    color:#6b7280;
    font-size:1.2rem;
}

/* ---------- ADD BUTTON ---------- */

#add-btn{
    background:linear-gradient(
        135deg,
        #4f7cff,
        #6d5dfc
    );

    border:none;

    padding:14px 28px;

    border-radius:16px;

    font-weight:600;

    box-shadow:
        0 10px 25px rgba(
            79,
            124,
            255,
            .3
        );
}

/* ---------- BOARD ---------- */

.column-card{

    background:white;

    border-radius:25px;

    padding:25px;

    min-height:650px;

    box-shadow:
        0 10px 30px rgba(
            0,
            0,
            0,
            .05
        );

    border:1px solid #ececec;
}

/* ---------- COLUMN TITLES ---------- */

.pending-title{
    border-bottom:3px solid rgb(220, 53, 69);
    padding-bottom:15px;
}

.progress-title{
    border-bottom:3px solid rgb(255, 193, 7);
    padding-bottom:15px;
}

.completed-title{
    border-bottom:3px solid rgb(25, 135, 84);
    padding-bottom:15px;
}

/* ---------- DROP AREAS ---------- */

#pending-column,
#progress-column,
#completed-column{
    min-height:500px;
    padding-top:20px;
}

/* ---------- FORM ---------- */

.task-form-card{

    max-width:750px;

    margin:50px auto;

    padding:35px;

    border-radius:25px;

    background:white;

    box-shadow:
        0 15px 35px rgba(
            0,
            0,
            0,
            .15
        );
}

.task-form-card h3{
    font-weight:700;
    color:#2563eb;
}

.form-control,
.form-select{
    height:55px;
    border-radius:12px;
}

.custom-btn{
    min-width:120px;
    height:50px;
    border-radius:12px;
    font-weight:600;
}

#form{
    display:none;
}

/*
IMPORTANT:

YOUR JS CREATES .task-card
SO WE STYLE IT HERE
WITHOUT CHANGING JS
*/

.task-card{

    background:white !important;

    color:#111827 !important;

    display:flex;
    justify-content: space-around;
    
    padding:18px;

    border-radius:16px;

    margin-bottom:15px;

    cursor:grab;

    box-shadow:
        0 4px 15px rgba(
            0,
            0,
            0,
            .5
        );

    transition:.3s;

    font-weight:600;
}

.task-card:hover{

    transform:translateY(-3px);

    box-shadow:
        0 12px 25px rgba(
            0,
            0,
            0,
            .3
        );
}

/*
These override bootstrap bg colors
created by your JS
*/

.task-card.bg-danger{
    border-left:6px solid rgb(220, 53, 69);
}

.task-card.bg-warning{
    border-left:6px solid rgb(255, 193, 7);
}

.task-card.bg-success{
    border-left:6px solid rgb(25, 135, 84);
}
